<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />

    <link
            href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap"
            rel="stylesheet"
    />

    <title>Landing Page</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<!--Header-->
<div th:replace="~{fragments/header :: header}"></div>
<!--Header ends-->

<section class="content">
    <div class="hero">
        <div class="hero-text">
            <h1>The best furnitures in town!</h1>

            <button>Shop Now</button>
        </div>
    </div>

    <!--Category-->
    <section class="best-sellers">
        <h3>SHOP BY CATEGORY</h3>
        <div class="best-sellers-grid">

            <div class="product-card" th:each="category:${categories}">
                <div class="product-image">
                    <a th:href="@{/products/categories(categoryId=${category.categoryId})}"><img th:src="${category.imageUrl}" th:alt="${category.categoryName}"/></a>
                </div>
                <p class="product-name" th:text="${category.categoryName}"></p>
            </div>
          </div>
    </section>

    <!-- Gallery -->
    <section class="gallery">
        <h3>Explore our gallery</h3>
        <div class="gallery-grid">
            <div class="img1">
                <img src="../images/gallery4.jpg" alt=""/>
                <p class="overlay">Lorem ipsum dolor sit.</p>
            </div>
            <div class="img2">
                <img src="../images/gallery1.jpg" alt=""/>
                <p class="overlay">Lorem ipsum dolor sit.</p>
            </div>
            <div class="img3">
                <img src="../images/gallery2.jpg" alt=""/>
                <p class="overlay">Lorem ipsum dolor sit.</p>
            </div>
            <div class="img4">
                <img src="../images/gallery3.jpg" alt=""/>
                <p class="overlay">Lorem ipsum dolor sit.</p>
            </div>
            <div class="img5">
                <img src="../images/gallery5.jpg" alt=""/>
                <p class="overlay">Lorem ipsum dolor sit.</p>
            </div>
        </div>
    </section>
</section>

<!-- Footer Section -->
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/js/dropdown.js">
</script>
</body>
</html>